@import url('https://fonts.googleapis.com/css?family=Russo+One&display=swap');

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url("../img/background.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Russo One', sans-serif;
    color: white;
}

/* Utility Classes */
.container {
    max-width: 1100px;
    margin: auto;
}

.flexbox-container {
    display: flex;
    justify-content: center;
    margin: 1rem;
    flex-wrap: wrap;
}

.image-nav {
    display: block;
    width: 14rem;
    height: 13rem;
    border: 3px solid white;
    border-radius: 10px;
    margin: 0.5rem 2rem;
    transition: all 1s;
}

.image-nav:hover {
    transform: scale(1.1);
}

.l-heading {
    font-size: 3rem;
    margin: 0.25rem;
}

.m-heading {
    font-size: 1.5rem;
    margin: 0.25rem;
}

.lead {
    font-size: 1.3rem;
    margin: 0.25rem;
}

.text-center {
    text-align: center;
}

/* Navbar */
#navbar {
    display: flex;
    position: sticky;
    top: 0;
    justify-content: space-between;
    background: #070117;
    border-bottom: 3px solid white;
    z-index: 1;
    padding: 0.75rem;
}

#navbar ul {
    display: flex;
    align-items: center;
    list-style: none;
}

#navbar ul li a {
    margin: 0 1rem;
    font-size: 1.3rem;
}

#navbar a {
    color: white;
    text-decoration: none;
}

#navbar a:hover {
    color: #d1cdcd;
}

/* Header */
#header {
    margin: 2.5rem 1rem;
    padding: 3rem 0.75rem;
    border: 3px solid white;
    border-radius: 10px;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.3);
}

@media (max-width: 768px) and (min-width: 501px) {
    .l-heading {
        font-size: 2.25rem;
    }
    
    .m-heading {
        font-size: 1.5rem;
    }
    
    .lead {
        font-size: 1rem;
    }

    .image-nav {
        width: 10rem;
        height: 9rem;
    }

    #navbar ul li a {
        font-size: 1rem;
    }
}

@media (max-width: 500px) {
    #navbar {
        flex-direction: column;
        align-items: center;
    }
    
    .l-heading {
        font-size: 2rem;
    }
    
    .m-heading {
        font-size: 1.2rem;
    }
    
    .lead {
        font-size: 0.85rem;
    }

    #navbar ul li a {
        font-size: 0.9rem;
    }
}

@media(max-height: 568px) {
    .l-heading {
        font-size: 1.75rem;
    }

    .m-heading {
        font-size: 1rem;
    }

    .lead {
        font-size: 0.7rem;
    }
}

